
<launch>
    <include file="$(find pkg_vb_sim)/launch/task5_simulation.launch" />
    <include file="$(find pkg_task5)/launch/two_ur5_move_group.launch" />
    
    <!--group ns="ur5_1">
    <arg name="scene_file" default="$(find pkg_task4)/config/ur5_1.scene"/>    
    <node name = "moveit_publish_scene_from_text" pkg= "moveit_ros_planning" type = "moveit_publish_scene_from_text" args= "$(arg scene_file)"/>
    </group-->
    
    <rosparam file ="$(find pkg_ros_iot_bridge)/config/config_pyiot.yaml"/>    
	<node pkg="pkg_ros_iot_bridge" type="node_action_server_ros_iot_bridge.py" name="node_iot_ros_bridge_action_server" output="screen"/>	
	
	<!--node pkg="pkg_task5" type="shell_webpages_launch.sh" name="shell_webpages_launch" output="screen"/-->
	
	
	
	
    <!--This node is for ur5_1 which play trajectory saved in task4/config/saved_trajectory-->
    <node name= "node_ur5_1_pick_place" pkg= "pkg_task5" type="node_ur5_1_pick_place.py" output="screen"/>
    
    <!--This node is for ur5_2 which play trajectory saved in task4/config/saved_trajectory-->
    <!--It also call function from another script for detection of colour-->
    <node name= "node_ur5_2_pick_place" pkg= "pkg_task5" type="node_ur5_2_pick_place.py" output="screen"/>


</launch>
